;autorice.conf
;
;Description: 
;autorice.conf basically acts as a mapping between each file in the rice
;archive and its intended location on the user's system, as well as a way
;to set some variables and list dependencies.
;Each rice must contain an autorice.conf in its main directory
;
;Each section in this file (marked by [] surrounding a word) maps to a 
;subdirectory within this rice.  For example, [Conky] marks the start of 
;the conky section and should map to a Conky (case sensitive) directory in
;this rice.
;All of the parameters following the [Conky] header represent each of the
;files in the Conky directory and indicate where they should be placed on
;the User's system (again, case sensitive).
;
;;;;Example:
;[Conky]
;conky.conf: ~/.config/conky/conky.conf
;;;;
;
;The above example maps the file conky.conf inside the Conky folder 
;to the directory ~/.config/conky/conky.conf if the directory does 
;not exist it will be created for you
;
;The header [Rice] is reserved for info about this rice.  Any
;folder named Rice will be ignored.
;
;;;;Example:
;[Rice]
;author: alec-chan
;name: example-rice
;version: 1.0.0
;;;;
;
;The above example sets the name, author and version for this rice.
;Version follows the MAJOR.MINOR.PATCH scheme
;
;The header [Dep] is also reserved.  The [Dep] header lists all of the
;required dependencies for this rice.  Currently there isn't a good
;way to automatically install these dependencies through the user's
;package manager, since so much variation exists in setups, so 
;autorice will just prompt the user to install the required software
;if it doesn't detect it as being installed. The key's for dependencies
;can be named anything, but the value should be the name of 
;the dependency. For simplicity, the keys for dependencies can just be
;named 0->n
;
;;;;Example:
;[Dep]
;0: conky
;1: compton
;;;;

